:root {
    --dark-overlay: #263238;
    --accent: #fed36a;
    --light-grey: #455a64;
    --back-ground: #212832;
    --white: #ffffff;
    --warning: #B3261E;
    --accent-font: #212832;
    --light-text: #8CAAB9;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: var(--white);
    font-family: 'roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body {
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh 80vh 5vh;
    background-color: var(--back-ground);
    
}




.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    

}

.main {
    height: 100%; 
    
    
    
    
    
}

.content-content {
    width: 100%;
    height: 100%;
    
}


.content {
    width: 100vw;
    height: 80vh;
    
    
}

.make-board-container {
    scrollbar-gutter: stable;
}

.content, .content-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* gap: 1.5rem; */
    flex-shrink: 1;
    max-height: 100%;
    
    
    
}

.accent-title {
    color: var(--accent);
}

.board-header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4px;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 12rem;
    overflow: hidden;
    scrollbar-gutter: stable; 

}

.boardList {
    display: flex;
    height: calc(100% - 13rem);
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    
    gap: 1.5rem;
    scrollbar-gutter: stable;
    overflow-y: auto;
    scrollbar-color: var(--back-ground) var(--accent);
}
.footer {
    background-color: var(--light-grey);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title {
    font-size: 3rem;
    font-weight: 900;
    
}

.delete-board-button {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: var(--dark-overlay);
    position: absolute;
    right: 2rem;
}

.status-container {
    display: flex;
    gap: 1rem;
    height: 100%;
    background-color: var(--back-ground);

}

.status-column {
    max-height: 80vh;
    overflow: hidden;

}

.board-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-board-header, .right-board-header {
    width: 10rem;
}

.createboard {
    width: 80vw;
    background-color: var(--accent);
    border: none;
    height: 5rem;
    font-size: 1.5rem;
    color: var(--accent-font);
    flex-shrink: 0;
    padding: 0;
}

.createboard:hover {
    box-shadow: 0px 0px 4px var(--white);
}
#master-board {
    background-color: var(--light-grey);
    height: 5rem;
    flex-shrink: 0;
    
}

.board-content {
    max-height: 80vh;
}
.board-card-title {
    font-size: 1.5rem;
    position: absolute;
    left: 2rem;
    top: 1rem;
    
    
}

.board-div > p {
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    font-size: .75rem;
}

.board-div {
    width: 80vw;
    min-height: 5rem;
    max-height: 5rem;
    background-color: var(--dark-overlay);
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.board-div:hover {
    box-shadow: 0px 0px 4px var(--accent);
    
}

.delete-board-button > img{
    
    height: 2rem;
}

.delete-mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    line-height: 1.15;
    
}

.delete-text {
    font-size: 1rem;
    
    text-wrap: balance;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    width: 90%;
    padding-right: 10%;
    
}

.delete-button, .cancel-button {
    font-size: 1.25rem;
    height: 2.25rem;
    border: none;
    box-shadow: 0px 0px 4px var(--light-grey);
}

.delete-button {
    background-color: #B3261E;  
    width: clamp(5rem, 30%, 8rem);}
    
.cancel-button {
    background-color: var(--accent);
    width: clamp(7.5rem, 60%, 12rem);}

.modal {
background: var(--dark-overlay);
background: linear-gradient(0deg, var(--dark-overlay) 80%, var(--accent) 80%);
   position: relative;
   border: none;
   box-shadow: 4px 4px 4px var(--back-ground);
   min-height: 30vh;
   min-width: 40vw;
   
    
}

#form {
    padding-top: 12%;
}

#form, #task-form, #status-form, #edittask-form, #delete-status-form  {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}

#delete-status {
    padding: 5rem 4rem ;
    width: 60vw;
}

.modal-instruction {
    font-size: 1.25rem;
}

#status-close-delete-modal {
    top: 1rem;
}

#delete-status-button {
    border: none;
    background-color: var(--warning);
    color: var(--white);
    width: clamp(5rem, 8rem, 12rem);
    box-shadow: 2px 2px 4px var(--back-ground);
}

#status-form {
    padding-top: 1rem;
}
.create-board-input, .create-task-input, .create-status-input, .edit-task-input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}

.create-status-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-status-button > .addIcon {
    width: 4rem;
    height: 4rem;
}

#create-task{
    background: var(--dark-overlay);
    background: linear-gradient(0deg, var(--dark-overlay) 90%, var(--accent) 90%);
    padding: 4rem 1rem 1rem 1rem;
}

#task-close-modal {
    top: .5rem

}

/* textarea {
    
    
} */
.edit-task-input {
    gap: 1rem;
}

#edit-task {
    background: var(--dark-overlay);
    background: linear-gradient(0deg, var(--dark-overlay) 90%, var(--accent) 90%);
    padding: 4rem 1rem 1rem 1rem;
}

/* #Edit-Task-Notes {
    height: 3rem;
} */

.edit-task-input > div > label, .edit-task-input > fieldset > legend {
    font-size: .75rem;
}

.required {
    border: 2px solid var(--warning) !important;
}



#Edit-Task-Name {
    border: none;
    background-color: var(--dark-overlay);
    color: var(--white);
    font-size: 1.75rem;
    padding-left: 0px;
    font-weight: 900;
    height: 2rem;
}

#Edit-Task-Name:focus {
    outline: none;
}

.create-task-input > div, .edit-task-input > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.exit-button {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    position: absolute;
    top: 3%;
    right: 1rem;
    border: none;
    
}
.exit-button > img {
    height: 2rem;
    width: 2rem;
    
    
}
label, legend{
    font-weight: 900;
    color: var(--white);
    /* text-shadow: 0 0 1px var(--white); */
}

input {
    background-color: var(--white);
    color: var(--back-ground);
    border: none;
    /* box-shadow: 0 0 1px white; */
    margin: 0;
    padding-left: .25rem;
    height: 1.5rem;
}

input[type="radio"] {
    accent-color: var(--accent);
}

#submit-board, #submit-Task, #submit-status {
    background-color: var(--accent);
    color: var(--accent-font);
    height: 1.5rem;
    width: 6rem;
    border: none;
    
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

fieldset > div {
    display: flex;
    gap: .5rem;
}

fieldset > div > input {
    outline: none;
    display: block;
    box-shadow: none;
}


.modal-title {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--white);
}

.home-button {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-weight: 900;
}

.board-header {
    padding: 0 1rem;
}

.board-title {
    font-size: 1.5rem;
    font-weight: 900;
}
.status-container {
    padding: 0 1rem;
    max-height: 95%;
    
}

.status-column {
    background-color: var(--light-grey);
    width: 12rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    max-height: 80vh;
    overflow: hidden;
    padding-bottom: 8px;
    
    
    
    
    /* gap: 1rem; */
}

.status-header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 10rem;
    height: 3rem;
    background-color: var(--dark-overlay);
    box-shadow: 0px 2px 4px var(--back-ground);
    margin: 0 0 8px 0;
}

.task-collection {
    height: calc(80vh - 8rem);
    width: 12rem;
    /* padding: 1rem .5rem; */
    
}

.task-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    /*  */
    /* padding: 1rem .5rem; */
    width: 100%;
    height: 100%;
    /* scrollbar-gutter: static; */
    overflow-y: auto;
    scrollbar-color: var(--accent) var(--back-ground);
    
    
    
}
.task-container {
    
    background: var(--dark-overlay);
    background: linear-gradient(0deg, var(--dark-overlay) 90%, var(--accent) 90%);
    flex-shrink: 0;
    width: 9rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center ;
    gap: .45rem;
    align-items: center;
    padding: .5rem;
    border-radius: 16px;
    box-shadow: 2px 2px 4px var(--back-ground);
    margin: 8px 8px 8px 8px;
    text-overflow: ellipsis;
}

.task-deadline{
    font-size: .75rem;
    height: .9rem;
}
.task-title {
    height: 2.2rem;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.1;
    
}

.delete-status-button, .create-task-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .25rem;
}

.status-header-buttons {
    display: flex;
    gap: .5rem;
    
}

.status-header-buttons {
    visibility: hidden;
}

.status-trash, .addIcon  {
    visibility: visible;
}

.status-header-buttons:hover  {
    visibility: visible;
}

.delete-status-caption, .create-task-caption {
    font-size: .5rem;
    width: 1.5rem;
}

.master-task-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.master-board-content {
    height: calc(80vh - 2rem);
    
    padding: 1rem;
}

::backdrop{
    background-color: var(--back-ground);
    opacity: .9;
}